body.dark {
  --body-bg-color: #000;
  --body-text-color: #eee;
  --body-text-color-medium: #d0d0d0;
  --text-primary: var(--primary-color-lighter);
  --text-primary-bg: var(--primary-color);

  --app-bg-gradient: radial-gradient(
      circle at 15% 25%,
      #17160c 0%,
      transparent 70%
    ),
    radial-gradient(circle at 50% 50%, #0b171b 0%, transparent 70%),
    radial-gradient(circle at 75% 75%, #101622 0%, transparent 90%);

  --app-container-bg-color: rgba(255, 255, 255, 0.1);

  --nav-dropdown-bg-color: #555;
  --nav-dropdown-text-color: var(--body-text-color);

  --nav-dropdown-hover-text-color: #fff;
  --nav-dropdown-hover-bg-color: #666;

  --nav-toggler-hover-bg: #505050;
  --nav-toggler-bg: #e9e9e9;

  --bs-emphasis-color-rgb: var(--primary-color-lightest);

  --card-bg-color: rgba(255, 255, 255, 0.08);
  --card-inset-bg-color: rgba(0, 0, 0, 0.09);

  --card-fancy-bg-color: linear-gradient(
      144deg,
      #160c3d52 -114%,
      transparent 75%
    ),
    #333;
  --card-fancy-img-bg: linear-gradient(135deg, #3f344a 0%, #1f222b 100%);

  --bs-body-color: var(--body-text-color);
  --bs-secondary-color: var(--neutral-color-light);

  --success-bg-color: #155724;
  --canceled-bg-color: #856404;
  --error-bg-color: #721c24;

  .btn-outline-primary {
    --bs-btn-color: var(--primary-color-lighter);
    --bs-btn-border-color: var(--primary-color-lighter);

    --bs-btn-hover-color: var(--primary-color-lightest);
    --bs-btn-hover-bg: rgba(19 16 72 / 0.2);
    --bs-btn-hover-border-color: var(--primary-color-lightest);

    --bs-btn-active-color: var(--primary-color-lighter);
    --bs-btn-active-bg: rgba(19 16 72 / 0.5);
    --bs-btn-active-border-color: var(--primary-color-lighter);
  }

  .btn-outline-secondary {
    --bs-btn-color: var(--neutral-color-lighter);
    --bs-btn-border-color: var(--neutral-color-lighter);

    --bs-btn-hover-color: var(--neutral-color-lightest);
    --bs-btn-hover-bg: rgba(255, 255, 255, 0.1);
    --bs-btn-hover-border-color: var(--neutral-color-lightest);

    --bs-btn-active-color: var(--neutral-color-lightest);
    --bs-btn-active-bg: var(--neutral-color-darker);
    --bs-btn-active-border-color: var(--neutral-color-lightest);
  }

  .navbar-toggler-icon {
    filter: invert(1);
  }

  .text-danger {
    background: maroon !important;
    color: #fff !important;
    border-radius: 0.25rem !important;
    padding: 0.25rem 0.5rem !important;
  }
}
